@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* MAIN */

html, body {
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#mainWrapper {
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
    background: url('/img/mike-szczepanski-383929-unsplash.jpg');
    background-size: cover;
    background-position: center center;
}

.spaced {
    justify-content: space-between;
}

.contents {
    width: 100%;
}

.centered {
    align-items: center;
    justify-content: center;
}

.navbar {
    align-items: center;
    height: 10vh;
    padding: 0em 2em;
    background-color: rgba(60, 60, 60, 0.3);
}

.nav-item {
    text-decoration: none;
    padding-left: 2em;
}

.panel {
    background: rgba(0,0,0,0.6);
    width: 33vw;
    min-width: 18em;
    height: 30em;
    min-height: 70vh;
    margin: 0em 2em;
    padding: 0.5em 2em;
    overflow-y: auto;
}

.foot {
    padding: 0em 2em;
    justify-content: space-between;
}

textarea {
    resize: none;
}

/* Colors */

.light {
    color: #dddddd;
}

.red {
    color: #cc3333;
}

/* SCROLLY */

::-webkit-scrollbar {
    width: .7em;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8); 
}

::-webkit-scrollbar-thumb {
    background: rgba(60, 60, 60, 0.8); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(60, 60, 60, 1);
}

/* FONTS */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'PT Sans', sans-serif !important;
}   

/* BUTTONS */

button {
    background: rgba(60,60,60,0.6);
    color: #eeeeee;
    height: 3em;
    width: 90%;
    margin-bottom: 0.5em;
    border: 2px solid rgba(0,0,0,0.9);
    border-radius: 0em 1em 0em 1em;
    padding: 0;
    outline: 0;
    transition: background 0.3s;
}


button:hover {
    background: rgba(90,90,90,0.6);
}

input[type="text"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(30,30,30,0.6);
    color: #eeeeee;
    height: 3em;
    width: 90%;
    margin-bottom: 0.5em;
    border: 2px solid rgba(0,0,0,0.9);
    border-radius: 0em 1em 0em 1em;
    padding: 0;
    outline: 0;
}